{% extends "layout.html" %}

{% block container %}

<div style="text-align:center; padding:40px;">

    <!-- Imagen -->
    <img src="{{ url_for('static', filename='dist/img/IDGS805.png') }}"
         style="width:120px; display:block; margin:0 auto 20px auto;">

    <h1 style="font-size:2.5rem; margin-bottom:10px;">
        Bienvenido
    </h1>

    <!-- Descripción -->
    <p style="font-size:1.2rem; margin-bottom:2rem;">
        Gestiona alumnos, maestros, cursos e inscripciones de manera fácil y rápida
    </p>

</div>

{% endblock %}